<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


    <% var x = 0, y= 0, z= 0, count1 = 0, count2 = 0, count3 = 0; %>
    <% for(a=0; a< data["documents"].length; a++){ %>
        
     <%   if(data["documents"][a]["id"].toString().slice(4) == news.news1){ %>
           <%  x += data["documents"][a]["score"];  %>
          <%   count1 ++; %>
          <% } %>
    <%   else if(data["documents"][a]["id"].toString().slice(4) == news.news1){ %>
           <%  y += data["documents"][a]["score"];  %>
          <%   count2 ++; %>
          <% } %>
    <%   else{ %>
           <%  z += data["documents"][a]["score"];  %>
          <%   count3 ++; %>
          <% } %>
    <% } %>
    
    <ul>
        <li><%= news.news1 %>: <%=( x / count1) %> </li>
        <li><%= news.news2 %>: <%=( y / count2) %> </li>
        <li><%= news.news3 %>: <%=( z / count3) %> </li>
    </ul>


</body>
</html>